* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.textShadow {
  text-shadow: -1px 2px 7px rgba(40, 40, 40, 0.29);
}

.centerText {
  text-align: center;
  width: 50%;
  margin: 0 auto 0 auto;
}

.centerImg {
  display: block;
  width: 50%;
  margin: auto;
}

.mainBtn {
  background-color: #94A187;
  color: #06070E;
  font-size: 1.2em;
  text-transform: uppercase;
  border: #282828;
}

.customH1 {
  font-size: 2.7em;
}

* {
  font-family: 'Oswald', sans-serif;
  color: #06070E;
  transition: all 0.5s ease-in-out;
}

body {
  background-color: #29524A;
}

.welcomeH1 {
  text-transform: uppercase;
  color: #E9BCB7;
  font-size: 4em;
}

.welcomeContainer {
  padding: 10px;
  display: block;
  box-shadow: 10px 1px 1px 1px #06070E;
  border-top: 1px solid #C5AFA0;
  border-bottom: 1px solid #C5AFA0;
  background-color: #828181;
}

.navContainer {
  box-shadow: 10px 1px 1px 1px #06070E;
  display: block;
  background-color: #3b7066;
  border-bottom: #282828 2px solid;
}

.navContainer ul {
  width: 100%;
  list-style-type: none;
  display: inline-block;
}

.navContainer li {
  float: left;
}

.navContainer li:last-child {
  float: right;
}

.navContainer li a {
  display: block;
  color: #FFEEED;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.navContainer li a:hover {
  color: #94A187;
}
